<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="heading">
        {% block heading %}
        <h1> Lesson 5, Lesson 6 </h1>
        {% endblock heading %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>