{% extends "base.html" %}

{% block title %}Customer: {{customer.surname}}{% endblock %}

{% block content %}
<hr>
<p>
<h3>full name: {{customer.surname}} {{customer.name}}</h3>
</p>
<p>
<h4>gender: {{customer.gender}}</h4>
</p>
<p>
<h4>email: {{customer.email|linebreaks}}</h4>
</p>

<p>
    <a href="{% url 'data_share' customer.surname %}"> Share this contact </a>
</p>
{% endblock %}