{% extends "base.html" %}

{% block title %}Customers{% endblock %}

{% block content %}
<hr>
{% for customer in customers %}
<h4>
    <a href="{{customer.get_absolute_url}}">{{customer.surname}}</a>
</h4>
{{customer.email}}
<hr>

{% endfor%}
{% endblock %}