{% extends "base.html" %}

{% block title %}Share a contact{% endblock %}

{% block content %}
{% if sent %}
<h3>Email successfully sent</h3>
<p>{{customer.surname}}'s contacts was successfully sent to {{form.cleaned_data.email}}</p>
{% else %}
<h3>Share {{customer.name}} contacts by e-mail</h3>
<form action="." method="post">
    {{form.as_ul}}
    {% csrf_token %}
    <input type="submit" value="Send e-mail">
</form>
{% endif %}

{% endblock %}